<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duck.code.admin.mapper.BlogSortMapper">

    <sql id="Base_Column_List">
        id,sort_name,click_count,sort,creation_time,update_time
    </sql>
    <select id="queryTotalNumOfArticlesInCategory" resultType="com.duck.code.admin.vo.BlogSortVO">
        SELECT s.`id`,s.`sort_name`,s.`hits`,s.`status`,s.`sort_index`,s.`creation_time`,s.`update_time`,b.articles_num
        FROM tb_blog_sort AS s
        LEFT JOIN (
            SELECT b.`sort_id`,COUNT(*) AS articles_num
            FROM tb_blog AS b
            WHERE b.`deleted`=0
            GROUP BY b.`sort_id`) AS b
        ON b.sort_id = s.`id`
        WHERE s.`deleted`=0
        ORDER BY s.`sort_index` DESC
        <if test="pageNum!=null and pageSize!=null">
            limit #{pageNum},#{pageSize}
        </if>
    </select>
</mapper>
