<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duck.code.admin.mapper.PermissionMapper">

    <resultMap id="permMap" type="com.duck.code.commons.entity.sys.Permission">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="DECIMAL" property="id"/>
        <result column="parent_id" jdbcType="DECIMAL" property="parentId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="permission_code" jdbcType="VARCHAR" property="permissionCode"/>
    </resultMap>

    <select id="findUserPermissions" resultType="com.duck.code.commons.entity.sys.Permission">
        SELECT DISTINCT p.*
        FROM sys_role r
            LEFT JOIN sys_user_role ur ON (ur.`role_id` = r.`id`)
            LEFT JOIN sys_user u ON (u.`id`=ur.`user_id`)
            LEFT JOIN sys_role_permission rp ON (rp.`role_id` = r.`id`)
            LEFT JOIN sys_permission p ON (p.`id` = rp.`permission_id`)
	    WHERE u.`username`=#{username} AND u.`deleted`=0;
    </select>
</mapper>
